:root {
  font-family: Osnova Pro, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1272px;
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;

  .main {
    position: relative;
    padding: 16px 0;

    .wrapper {
      display: flex;
      border-radius: 16px;
      padding: 24px;
      width: 100%;
      background-color: #004F9F;

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 660px;

        &__title {
          font-weight: 700;
          font-size: 24px;
          line-height: 130%;
          letter-spacing: 0;
          color: #FFFFFF;
        }

        &__subtitle {
          font-weight: 400;
          font-style: Normal;
          font-size: 14px;
          line-height: 130%;
          letter-spacing: 0;
          vertical-align: middle;
          color: #FFFFFFE5;
        }
      }
    }

    .banner {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: absolute;
      z-index: 2;
      top: -2px;
    }
  }
}